.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

background:black;

color:white;

}


.navbar a{

color:white;

text-decoration:none;

margin:10px;

}
.navbar{


display:flex;

justify-content:space-between;

align-items:center;

padding:15px 30px;

background:#111;

color:white;


}


.nav-links{


display:flex;

gap:20px;

align-items:center;


}


.nav-links a{


color:white;

text-decoration:none;

font-size:18px;


}



.nav-links button{


background:#d4af37;

border:none;

padding:8px 15px;

border-radius:8px;

color:white;

cursor:pointer;


}